*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: 50% 0px;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body.slider-1 {
  background-color: #849d8f;
  background-image: url("../img/bg-slider-item--one.png");
}

body.slider-2 {
  background-color: #8996a6;
  background-image: url("../img/bg-slider-item--two.png");
}

body.slider-3 {
  background-color: #9d8b84;
  background-image: url("../img/bg-slider-item--three.png");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);

  border: 0;
  border-radius: 50px;

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);

  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);

  box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.page-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  margin: 0 auto;
  padding: 9px 27px 0;
}

.page-header__nav-wrapper {
  display: flex;

  align-items: center;
}

.page-header__nav-logo {
  margin-right: 10px;
}

.page-header__nav-logo img {
  display: block;
}

.page-header__nav-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__nav-item {
  position: relative;

  min-height: 37px;
  margin-right: 4px;
}

.page-header__nav-item--active .page-header__nav-link {
  margin: 0;
  padding: 7px 12px;

  color: #ffffff;

  background-color: #d07058;

  border-bottom: 0;
  border-radius: 20px;
}

.page-header__nav-item--active .page-header__nav-link:hover {
  color: #ffffff;
  
  background-color: #d07058;
}

.page-header__nav-item--active .page-header__nav-link:active {
  background-color: #d07058;
}


.page-header__nav-link {
  display: inline-block;
  
  margin: 7px 12px;

  vertical-align: top;
  color: #ffffff;
  line-height: 18px;
  font-weight: 700;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-header__nav-link:hover {
  margin: 0;
  padding: 7px 12px;

  color: #323232;
  font-weight: 700;

  background-color: #f7f6f3;

  border-bottom: 0;
  border-radius: 20px;
}

.page-header__nav-link:active {
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.page-header__nav-item:hover .page-header__nav-sub-list {
  display: block;
}

.page-header__nav-sub-list {
  z-index: 1;
  position: absolute;
  top: 37px;
  left: -7px;

  display: none;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #f8f7f4;

  border-radius: 5px;

  overflow: hidden;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.page-header__nav-sub-item:first-child {
  position: relative;
}

.page-header__nav-sub-item:first-child::after {
  position: absolute;
  bottom: 0;
  right: 9px;
  left: 6px;

  content: '';
  height: 1px;

  background-color: #c2cec7;
}

.page-header__nav-sub-item a {
  display: inline-block;

  width: 100%;
  padding: 10px 20px 8px;

  vertical-align: top;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.page-header__nav-sub-item--active a {
  background-color: #d07058;
}

.page-header__nav-sub-item a:hover {
  background-color: #fbded8;

  border-radius: 0;
}

.page-header__nav-sub-item a:active {
  background-color: #f6b5a5;
}

.page-header__nav-sub-item:first-child a {
  font-weight: 700;
}

.page-header__nav-sub-item--active a:hover {
  background-color: #d07058;
}

.page-header__user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__user-item {
  position: relative;

  min-height: 37px;
  margin-right: 10px;
}

.page-header__user-item:last-child {
  margin-right: 0;
}

.page-header__user-item--active .page-header__user-item-link {
  color: #323232;

  background-color: #ffffff;
}

.page-header__user-item-link {
  display: flex;
  align-items: center;

  padding: 7px 16px 6px 17px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.page-header__user-item-link:hover,
.page-header__user-item-link:focus {
  color: #323232;

  background-color: #ffffff;
}

.page-header__user-item-link--icon-only {
  padding: 8px;
}

.page-header__user-item-link svg {
  margin-right: 7px;
}

.page-header__user-item-link:hover svg,
.page-header__user-item-link:focus svg {
  fill: #000000;
}

.page-header__user-item-link--icon-only svg {
  margin-right: 0;
}

.page-header__user-item--search:hover .page-header__search-form {
  display: block;
}

.page-header__search-form {
  z-index: 1;

  position: absolute;
  top: 37px;
  right: 0;

  display: none;

  padding: 20px 15px;
  
  background-color: #f8f7f4;

  border-radius: 5px;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.page-header__search-form input[type="search"] {
  width: 311px;
  padding: 10px 14px 8px;

  
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;

  border: 1px solid rgba(153, 153, 153, 0.52);
  border-radius: 5px;
}

.page-header__search-form input[type="search"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.page-header__search-form input[type="search"]:hover {
  padding: 9px 13px 7px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.page-header__search-form input[type="search"]:focus {
  padding: 9px 13px 7px;

  border: 2px solid rgba(46, 136, 228, 0.52);

  outline: 0;
}


.page-header__user-item--login:hover .page-header__form-login {
  display: block;
}

.page-header__form-login {
  z-index: 1;

  position: absolute;
  top: 37px;
  right: 0;

  display: none;

  padding: 22px 19px 22px 17px;

  background-color: #f8f7f4;

  border-radius: 5px;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.page-header__form-login input[type="email"],
.page-header__form-login input[type="password"] {
  display: inline-block;

  width: 241px;
  margin: 0 0 20px;
  padding: 10px 14px 8px;

  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;

  border: 1px solid rgba(153, 153, 153, 0.52);
  border-radius: 5px;
}

.page-header__form-login input[type="email"]::placeholder,
.page-header__form-login input[type="password"]::placeholder {
  font-weight: 400;
  color: #999999;
} 

.page-header__form-login input[type="email"]:hover,
.page-header__form-login input[type="password"]:hover {
  padding: 9px 13px 7px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.page-header__form-login input[type="email"]:focus,
.page-header__form-login input[type="password"]:focus {
  padding: 9px 13px 7px;

  border: 2px solid rgba(46, 136, 228, 0.52);

  outline: 0;
}

.page-header__form-login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-header__form-login-button {
  padding: 11px 25px;

  border-radius: 20px;
}

.page-header__form-login-links {
  margin: 0;
}

.page-header__form-login-link {
  display: block;

  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
}

.page-header__form-login-link:hover,
.page-header__form-login-link:focus,
.page-header__form-login-link:active {
  color: #e84d37;

  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.page-header__user-item--basket:hover .page-header__form-basket {
  display: flex;
}

.page-header__form-basket {
  z-index: 1;

  position: absolute;
  top: 37px;
  right: 0;

  display: none;
  flex-direction: column;

  min-width: 540px;
  padding: 10px 15px 20px;

  background-color: #f8f7f4;

  border-radius: 5px;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.page-header__basket-table {
  width: 100%;
  margin: 0 0 15px;
  padding: 0 0 10px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  border-bottom: 1px solid #cacac7;
}

.page-header__basket-table td {
  height: 53px;
}

.page-header__basket-control {
  padding-right: 14px;
}

.page-header__basket-cancel {
  width: 11px;
  height: 11px;
  padding: 0;

  background: transparent url("../img/icon-cross--small.svg") no-repeat 50% 50%;

  border: 0;
}

.page-header__basket-desc {
  padding-right: 32px;
}

.page-header__basket-img-wrapper {
  display: flex;

  margin: 0;
}

.page-header__basket-img-wrapper img {
  margin-right: 14px;

  border-radius: 50%;
}

.page-header__basket-img-wrapper span {
  padding-top: 10px;
}

.page-header__basket-quality {
  padding-right: 30px;

  white-space: nowrap;
}

.page-header__basket-quality span {
  color: #999999;
}

.page-header__basket-price {
  white-space: nowrap;
}

.page-header__form-basket-output {
  align-items: flex-end;

  margin-bottom: 15px;

  text-align: right;
  font-size: 15px;
  line-height: 19px;
  color: #323232;
}

.page-header__form-basket .button {
  align-self: flex-end;

  padding: 10px 14px;
}

.page-header__schedule {
  position: absolute;
  top: 100%;
  right: 27px;

  margin: 0;

  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.page-header__schedule a {
  display: block;

  margin-top: 5px;

  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.page-footer {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  min-height: 100px;
  margin: 0 auto;
  padding: 0 27px 25px;
}

.page-footer__social-list {
  align-self: center;

  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__social-item:not(:last-child) {
  margin: 0 11px 0 0;
}

.page-footer__social-item a {
  display: inline-block;

  width: 38px;
  height: 38px;

  vertical-align: top;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border: 3px solid rgba(230, 235, 233, 0.5);
  border-radius: 50%;

  opacity: 0.8;
}

.page-footer__social-item a:hover {
  opacity: 1;
}

.page-footer__social-item a:active {
  opacity: 0.7;
}


.page-footer__contact-list {
  align-self: center;

  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0 0 0 5px;

  list-style: none;
}

.page-footer__contact-item:not(:last-child) {
  margin: 0 32px 0 0;
}

.page-footer__production-list,
.page-footer__document-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__production-item-link,
.page-footer__document-item-link {
  position: relative;

  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-footer__production-item-link:hover,
.page-footer__document-item-link:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.page-footer__production-item-link:hover svg,
.page-footer__document-item-link:hover svg {
  fill: #ffbc9e;
}

.page-footer__production-item-link svg,
.page-footer__document-item-link svg {
  position: absolute;
  top: 2px;
  left: -20px;
}

.page-footer__production-item--heart {
  font-weight: 700;
}

.page-footer__copyright {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.page-footer__copyright img {
  margin-bottom: 7px;
}

.page-footer__copyright small {
  font-size: 12px;
  line-height: 16px;
}

.page-footer__copyright a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-footer__copyright a:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.page-aside {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  margin: 0 auto 40px;
  padding: 0 27px;
}

.icecream__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.icecream__item {
  position: relative;

  width: 267px;
  margin-top: 40px;
  padding: 0 0 10px;
}

.icecream__item:hover {
  z-index: 1;
}

.icecream__item:hover::before {
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -22px;
  left: -13px;

  content: '';
  height: 405px;

  background-color: rgba(230, 235, 233, 0.2);

  border-radius: 5px;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.icecream__item article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icecream__item-img-wrapper {
  position: relative;

  margin: 0 0 7px;
}

.icecream__item-img-wrapper--hit::before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';
  width: 61px;
  height: 61px;

  background: url("../img/icon-hit.svg") no-repeat 50% 50%;
  border-radius: 50%;
}

.icecream__item-img-wrapper img {
  border-radius: 50%;
}

.icecream__item-price {
  position: absolute;
  bottom: 15px;
  left: 0;

  white-space: nowrap;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -1.5px;
}

.icecream__item-price span {
  font-size: 30px;
}

.icecream__item-title {
  position: relative;

  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.icecream__item-title:hover,
.icecream__item-title:focus,
.icecream__item-title:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.icecream__item-title h3 {
  margin: 0;

  font-size: 16px;
}

.icecream__item:hover .button {
  display: block;
}

.icecream__item .button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);

  display: none;
  line-height: 18px;

  padding: 13px 17px;
}

.offers {
  position: relative;

  width: 1200px;
  margin: 0 auto 20px;
  padding: 0 27px;
}

.offers__slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers__slider-item {
  display: none;
  flex-direction: column;
  align-items: center;

  padding: 320px 0 0;
}

.offers__slider-item b {
  display: inline-block;

  max-width: 670px;
  margin: 0 0 30px;

  vertical-align: top;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.offers__slider-item .button {
  padding: 10px 42px;

  font-size: 32px;
  line-height: 44px;
}

.slider-1 .offers__slider-item--one,
.slider-2 .offers__slider-item--two, 
.slider-3 .offers__slider-item--three {
  display: flex;
}

.offers__slider-controls {
  position: absolute;
  bottom: 18px;
  left: 27px;

  display: flex;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers__slider-controls li:not(:last-child) {
  margin-right: 8px;
}

.offers__slider-control {
  width: 21px;
  height: 21px;
  padding: 0;

  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.offers__slider-control:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.offers__slider-control--active {
  background-color: #ffffff;
}

.stocks {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.stocks__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.stocks__item {
  display: flex;
  flex-direction: column;

  width: 560px;
  padding: 15px 20px 23px;
  margin: 20px 0 0;

  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 15px;
}

.stocks__item--raspberries {
  background-color: #6b021e;
  background-image: url("../img/bg-stocks--one.jpg");
}

.stocks__item--chocolate {
  background-color: #45230d;
  background-image: url("../img/bg-stocks--two.jpg");
}

.stocks__item h3 {
  margin: 0 0 15px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.stocks__item p {
  margin: 0 0 45px;

  font-size: 18px;

  font-weight: 700;
}

.stocks__item .button {
  align-self: flex-end;

  padding: 13px 23px;

  line-height: 20px;
}

.hits {
  width: 1200px;
  margin: 0 auto 28px;
  padding: 0 27px;
}

.advantages {
  width: 1146px;
  margin: 0 auto 40px;
  padding: 23px 20px 15px;

  background: #e2d0a6 url("../img/bg-wafer.jpg");

  border-radius: 15px;
}

.advantages__text {
  margin: 0 0 8px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__list-item {
  position: relative;

  width: 539px;
  margin: 0 0 7px;
  padding: 15px 0 0 58px;

  color: #323232;

  background-repeat: no-repeat;
}

.advantages__list-item--icecream {
  background-image: url("../img/icon-advantages--one.svg");
}

.advantages__list-item--cow {
  background-image: url("../img/icon-advantages--two.svg");
}

.advantages__list-item--leaf {
  background-image: url("../img/icon-advantages--three.svg");
}

.advantages__list-item--thermometer {
  background-image: url("../img/icon-advantages--four.svg");
}

.main-article {
  width: 560px;
  min-height: 220px;
  padding: 25px 20px;

  background: #ffffff url("../img/bg-article.jpg");

  border-radius: 15px;
}

.main-article p {
  margin: 0 0 4px;

  color: #323232;
  font-weight: 500;
}

.main-article a {
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

.main-article a:hover {
  text-decoration: none;
}

.main-article h2 {
  max-width: 281px;
  margin: 0;

  font-size: 24px;
}

.mailing {
  width: 560px;
  padding: 5px;
  
  background: #92cdff url("../img/bg-mailing.svg");

  border-radius: 15px;
}

.mailing__wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 22px;

  background-color: #f8f7f4;

  border-radius: 10px;
}

.mailing p {
  margin: 0 0 35px;

  color: #5a5a5a;
}

.mailing__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mailing__form input[type="email"] {
  width: 367px;
  padding: 10px 14px 8px;

  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;

  border: 1px solid rgba(153, 153, 153, 0.52);
  border-radius: 5px;
}

.mailing__form input[type="email"]::placeholder {
  font-weight: 400;
  color: #999999;
}

.mailing__form input[type="email"]:hover {
  padding: 9px 13px 7px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.mailing__form input[type="email"]:focus {
  padding: 9px 13px 7px;

  border: 2px solid rgba(46, 136, 228, 0.52);

  outline: 0;
}

.mailing__form .button {
  padding: 10px 17px;
}

.map {
  margin: 0 0 17px;

  position: relative;
}

.map__address {
  z-index: 1;
  position: absolute;
  left: calc(50% + 423px);
  top: 63px;
  transform: translateX(-50%);

  min-width: 302px;
  padding: 30px 25px 31px;

  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #323232;

  background-color: #ffffff;

  border-radius: 15px;
}

.map__address-street {
  margin: 0 0 20px;
}

.map__address-street b {
  display: block;

  font-size: 18px;
  line-height: 24px;
}

.map__address-number {
  margin: 0 0 23px;
}

.map__address-number a {
  display: block;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.map__address .button {
  padding: 10px 28px;
}

.map__iframe-map {
  position: absolute;
  width: 100%;
  height: 100%;

  border: 0;
}

.map__img-wrapper {
  width: 1200px;
  margin: 0 auto
}

.map__img-wrapper img {
  display: block;
}

.modal {
  z-index: 5;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal[hidden] {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.callback-popup {
  position: relative;

  min-width: 478px;
  padding: 20px 25px 25px;

  background-color: #f8f7f4;

  border-radius: 10px;
}

.callback-popup--show {
  display: block;
  
  animation: bounce 0.6s;
}

.callback-popup--error {
  animation: shake 0.6s;
}

.callback-popup__form {
  display: flex;
  flex-direction: column;
}

.callback-popup__title {
  margin: 0 0 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.callback-popup__form-name,
.callback-popup__form-mail,
.callback-popup__form-text {
  margin-bottom: 20px;
}

.callback-popup__form-text {
  margin-bottom: 25px;
}

.callback-popup__form-name input,
.callback-popup__form-mail input {
  width: 267px;
}

.callback-popup__form-text textarea {
  width: 100%;
  height: 155px;

  resize: none;
}

.callback-popup__form input[type="text"],
.callback-popup__form input[type="email"],
.callback-popup__form textarea {
  display: inline-block;

  padding: 10px 14px 8px;

  vertical-align: top;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;

  border: 1px solid rgba(153, 153, 153, 0.52);
  border-radius: 5px;
}

.callback-popup__form input[type="text"]::placeholder,
.callback-popup__form input[type="email"]::placeholder,
.callback-popup__form textarea::placeholder {
  font-weight: 400;
  color: #999999;
}

.callback-popup__form input[type="text"]:hover,
.callback-popup__form input[type="email"]:hover,
.callback-popup__form textarea:hover {
  padding: 9px 13px 7px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.callback-popup__form input[type="text"]:focus,
.callback-popup__form input[type="email"]:focus,
.callback-popup__form textarea:focus  {
  padding: 9px 13px 7px;

  border: 2px solid rgba(46, 136, 228, 0.52);

  outline: 0;
}

.callback-popup__form .button {
  align-self: flex-end;

  padding: 10px 24px;
}

.callback-popup__close-button {
  position: absolute;
  top: 17px;
  right: 17px;

  width: 17px;
  height: 18px;

  background: transparent url("../img/icon-cross--big.svg") no-repeat 50% 50%;

  border: 0;
}

.breadcrumbs-list {
  display: flex;

  width: 1200px;
  margin: 21px auto 0;
  padding: 0 27px;

  list-style: none;
}

.breadcrumbs-list__item:not(:last-child) {
  margin: 0 10px 0 0;
}

.breadcrumbs-list__item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-list__item a[href]:hover,
.breadcrumbs-list__item a[href]:focus,
.breadcrumbs-list__item a[href]:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-list__item::after {
  content: '»';
}

.breadcrumbs-list__item--active a {
  border-bottom: 0;
}

.breadcrumbs-list__item--active::after {
  display: none;
}

.main-title {
  width: 1200px;
  margin: 0 auto 28px;
  padding: 0 27px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.filter__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter__form fieldset {
  margin: 0 14px 15px 0;
  padding: 0;

  border: 0;
}

.filter__form legend {
  margin: 0 0 5px;
  padding: 0 0 0 16px;
  
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter__sort select {
  position: relative;

  padding: 8px 32px 8px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: rgba(255, 255, 255, 0.2);
  background-image:
    url("../img/icon-downdir.svg"),
    url("../img/icon-downdir--active.svg");
  background-repeat: no-repeat;
  background-position: top 12px right 15px;

  border-radius: 20px;

  cursor: pointer;
}

.filter__sort select:hover,
.filter__sort select:focus {
  color: #323232;

  background-image: url("../img/icon-downdir--active.svg");
}

.filter__price-output input {
  width: 24px;
  padding: 0;
  margin: 0;

  font: inherit;
  color: #ffffff;
  
  background-color: transparent;

  border: 0;
}

.filter__price-controls {
  position: relative;

  min-width: 220px;
  min-height: 36px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.filter__price-progress {
  position: absolute;
  top: 50%;
  right: 22px;
  bottom: 50%;
  left: 22px;
  transform: translateY(-50%);
  
  height: 4px;

  background-color: rgba(255, 255, 255, 0.5);
}

.filter__price-progress-bar {
  width: 107px;
  height: 4px;
  margin-left: 14px;

  background-color: #ffffff;
}

.filter__price-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  background-color: #ffffff;

  border-radius: 50%;

  cursor: pointer;
}

.filter__price-control:hover {
  transform: translateY(-50%) scale(1.1);
}

.filter__price-control::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: '';
  width: 4px;
  height: 4px;

  background-color: #ababab;

  border-radius: 50%;
}

.filter__price-control--min {
  left: 35px;
}

.filter__price-control--max {
  right: 67px
}

.filter__fat-list {
  display: flex;

  margin: 0;
  padding: 9px 14px 7px;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.filter__fat-list li {
  margin: 0 18px 0 0;

  line-height: 18px;
  font-weight: 500;
}

.filter__fat-list li:last-child {
  margin: 0;
}

.filter__fat-list-radio:focus + label::before {
  outline: 5px auto #a6c7ff;
  outline-color: #a6c7ff;
  outline-color: -webkit-focus-ring-color;
}

.filter__fat-list-radio:checked + label::after {
  position: absolute;
  top: 7px;
  left: 7px;

  content: '';
  width: 8px;
  height: 8px;

  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 20px;
}

.filter__fat-list-radio:checked + label:hover::after {
  background-color: rgba(255, 255, 255, 1);
}

.filter__fat-list-radio:disabled + label:hover::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.filter__fat-list label {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.filter__fat-list label::before {
  content: '';
  width: 22px;
  height: 22px;
  margin-right: 10px;

  border: 3.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter__fat-list label:hover::before {
  border-color: rgba(255, 255, 255, 1);
}

.filter__fill-list {
  display: flex;

  margin: 0;
  padding: 9px 17px 8px;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.filter__fill-list li {
  margin: 0 22px 0 0;

  line-height: 18px;
  font-weight: 500;
}

.filter__fill-list li:last-child {
  margin-right: 0;
}

.filter__fill-list-checkbox:focus + label::before {
  outline: 5px auto #a6c7ff;
  outline-color: #a6c7ff;
  outline-color: -webkit-focus-ring-color;
}

.filter__fill-list-checkbox:checked + label::before  {
  background-image: url("../img/icon-checkbox--active.svg");
}

.filter__fill-list-checkbox:disabled + label::before {
  opacity: 0.4;
}

.filter__fill-list label {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.filter__fill-list label::before {
  content: '';
  width: 23px;
  height: 20px;
  margin-right: 8px;

  background: no-repeat 0 0;
  background-image: url("../img/icon-checkbox.svg");
  background-size: contain;

  opacity: 0.8;
}

.filter__fill-list label:hover::before {
  opacity: 1;
}

.filter__submit-button {
  display: inline-block;
  margin-top: 5px;
  padding: 8px 28px 7px 30px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: top;
  text-align: center;
  color: #ffffff;

  background-color: #a6b7ad;

  border: 2px solid #ffffff;
  border-radius: 50px;

  cursor: pointer;
}

.filter__submit-button:hover {
  color: #323232;

  background-color: #ffffff;
}

.filter__submit-button:active {
  color: #323232;

  background-color: #ededed;

  box-shadow: inset 0px 2px 1px 0px #696969
}

.catalog {
  position: relative;
 
  width: 1200px;
  margin: 0 auto 17px;
  padding: 0 27px 30px;
}

.catalog::after {
  position: absolute;
  bottom: 0;

  content: "";
  width: 1146px;
  height: 1px;

  background-color: rgba(252, 253, 252, 0.3);
}

.catalog__list {
  margin: 0 0 69px;
}

.catalog__list .icecream__item {
  margin-top: 27px;
}

.catalog__pagination-list {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__pagination-item a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 27px;
  padding: 6px 10px;

  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: right;
  
  border-radius: 50%;
}

.catalog__pagination-item a[href]:hover,
.catalog__pagination-item a[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog__pagination-item--prev a {
  margin: 0 5px 0 0;

  transform: rotate(180deg);

  background-image: url("../img/icon-arrow.svg");
}

.catalog__pagination-item--next a {
  margin: 0 0 0 3px;

  background-image: url("../img/icon-arrow.svg");
}

.catalog__pagination-item--active a {
  color: #323232;

  background-color: #ffffff;
}