*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: 50% 0px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body.slider-one {
  background-color: #849d8f;
  background-image: url("../img/bg-slider-item--one.png");
}

body.slider-two {
  background-color: #8996a6;
  background-image: url("../img/bg-slider-item--two.png");
}

body.slider-three {
  background-color: #9d8b84;
  background-image: url("../img/bg-slider-item--three.png");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);

  border: 0;
  border-radius: 50px;

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);

  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);

  box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.page-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  margin: 0 auto;
  padding: 9px 27px 0;
}

.page-header__nav-wrapper {
  display: flex;

  align-items: center;
}

.page-header__nav-logo {
  display: inline-block;

  margin-right: 24px;
}

.page-header__nav-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__nav-item {
  position: relative;

  margin-right: 28px;
}

.page-header__nav-item a {
  color: #ffffff;
  line-height: 18px;
  font-weight: 700;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-header__nav-item a:hover,
.page-header__nav-item a:focus {
  color: #323232;

  background-color: #f7f6f3;

  border-bottom: 0;
}

.page-header__nav-item:hover .page-header__nav-sub-list,
.page-header__nav-item:focus .page-header__nav-sub-list {
  display: block;
}

.page-header__nav-item--avtive {
  background-color: #d07058;
}

.page-header__nav-sub-list {
  position: absolute; 

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__nav-sub-list {
  display: none;

  background-color: #f8f7f4;
}

.page-header__nav-sub-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.page-header__nav-sub-item--active a {
  background-color: #d07058;
}

.page-header__nav-sub-item a:hover {
  background-color: #fbded8;
}

.page-header__nav-sub-item a:active {
  background-color: #f6b5a5;
}

.page-header__nav-sub-item:first-child a {
  font-weight: 700;

  border-bottom: 1px solid #c2cec7;
}

.page-header__user-list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__user-item {
  position: relative;

  margin-right: 10px;
}

.page-header__user-item-link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
}

.page-header__user-item-link:hover,
.page-header__user-item-link:focus {
  color: #323232;
  background-color: #ffffff;
}

.page-header__user-item-link:hover svg,
.page-header__user-item-link:focus svg {
  fill: #000000;
}

.page-header__user-item--search:hover .page-header__search-form {
  display: block;
}

.page-header__search-form {
  position: absolute;

  display: none;
  
  background-color: #f8f7f4;
}

.page-header__search-form input[type="search"] {
  font-size: 14px;

  background-color: #ffffff;
}

.page-header__user-item--login:hover .page-header__form-login {
  display: block;
}

.page-header__form-login {
  position: absolute;

  display: none;

  background-color: #f8f7f4;
}

.page-header__form-login input[type="email"],
.page-header__form-login input[type="password"] {
  font-size: 14px;

  background-color: #ffffff;
}

.page-header__form-login-link {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
}

.page-header__form-login-link:hover,
.page-header__form-login-link:focus,
.page-header__form-login-link:active {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.page-header__user-item--basket:hover .page-header__form-basket {
  display: block;
}

.page-header__form-basket {
  position: absolute;

  display: none;

  background-color: #f8f7f4;
}

.page-header__form-table {
  font-size: 13px;
  line-height: 16px;
}

.page-header__basket-cancel {
  background: url("../img/icon-cross--small.svg") no-repeat 50% 50%;
}

.page-header__basket-price span {
  color: #999999;
}

.page-header__schedule {
  position: absolute;
  top: 100%;
  right: 0;

  margin: 0;

  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.page-header__schedule a {
  display: inline-block;

  margin-top: 8px;

  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  margin: 0 auto;
  padding: 0 27px 25px;
}

.page-footer__social-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__social-item:not(:last-child) {
  margin: 0 11px 0 0;
}

.page-footer__social-item a {
  display: inline-block;

  width: 38px;
  height: 38px;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  border: 3px solid rgba(230, 235, 233, 0.5);
  border-radius: 50%;

  opacity: 0.8;
}

.page-footer__social-item a:hover {
  opacity: 1;
}

.page-footer__contact-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__contact-item:not(:last-child) {
  margin: 0 32px 0 0;
}

.page-footer__production-list,
.page-footer__document-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__production-item-link,
.page-footer__document-item-link {
  position: relative;

  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-footer__production-item-link:hover,
.page-footer__document-item-link:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.page-footer__production-item-link:hover svg,
.page-footer__document-item-link:hover svg {
  fill: #ffbc9e;
}

.page-footer__production-item-link svg,
.page-footer__document-item-link svg {
  position: absolute;
  top: 2px;
  left: -20px;
}

.page-footer__production-item--heart {
  font-weight: bold;
}

.page-footer__copyright {
  display: flex;
  flex-direction: column;

  margin: 0 0 8px;
}

.page-footer__copyright small {
  font-size: 12px;
  line-height: 16px;
}

.page-footer__copyright a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-footer__copyright a:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.page-aside {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  margin: 0 auto 40px;
  padding: 0 27px;
}

.icecream__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.icecream__item {
  position: relative;

  width: 267px;
  margin-top: 40px;
  padding: 0 0 10px;
}

.icecream__item:hover {
  z-index: 1;
}

.icecream__item:hover::before {
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -22px;
  left: -13px;

  content: '';
  height: 405px;

  background-color: rgba(230, 235, 233, 0.2);

  border-radius: 5px;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.icecream__item article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icecream__item-img-wrapper {
  position: relative;

  margin: 0 0 10px;
}

.icecream__item-img-wrapper--hit::before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';
  width: 61px;
  height: 61px;

  background: url("../img/icon-hit.svg") no-repeat 50% 50%;
  border-radius: 50%;
}

.icecream__item-img-wrapper img {
  border-radius: 50%;
}

.icecream__item-price {
  position: absolute;
  bottom: 18px;
  left: 0;

  white-space: nowrap;
  font-size: 45px;
  line-height: 45p;
}

.icecream__item-price span {
  font-size: 30px;
}

.icecream__item-title {
  position: relative;

  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.icecream__item-title:hover,
.icecream__item-title:focus,
.icecream__item-title:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.icecream__item-title h3 {
  margin: 0;

  font-size: 16px;
}

.icecream__item:hover .button {
  display: block;
}

.icecream__item .button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);

  display: none;
  line-height: 18px;

  padding: 13px 17px;
}

.offers {
  width: 1200px;
  margin: 0 auto 40px;
  padding: 0 27px;
}

.offers__slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers__slider-item {
  display: none;
  flex-direction: column;
  align-items: center;

  padding-top: 325px;
}

.offers__slider-item b {
  display: inline-block;
  margin-bottom: 25px;

  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.offers__slider-item .button {
  padding: 16px 42px;

  font-size: 32px;
  line-height: 44px;
}

.slider-one .offers__slider-item--one,
.slider-two .offers__slider-item--two, 
.slider-two .offers__slider-item--three {
  display: flex;
}

.stocks {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.stocks__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.stocks__item {
  display: flex;
  flex-direction: column;

  width: 560px;
  padding: 19px 20px;

  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 15px;
}

.stocks__item--raspberries {
  background-color: #6b021e;
  background-image: url("../img/bg-stocks--one.jpg");
}

.stocks__item--chocolate {
  background-color: #45230d;
  background-image: url("../img/bg-stocks--two.jpg");
}

.stocks__item h3 {
  margin: 0 0 20px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.stocks__item p {
  margin: 0 0 40px;

  font-size: 18px;

  font-weight: 700;
}

.stocks__item .button {
  align-self: flex-end;

  padding: 13px 23px;

  line-height: 20px;
}

.hits {
  width: 1200px;
  margin: 0 auto 30px;
  padding: 0 27px;
}

.advantages {
  width: 1146px;
  margin: 0 auto 40px;
  padding: 20px 21px 15px;

  background: #e2d0a6 url("../img/bg-wafer.jpg");

  border-radius: 15px;
}

.advantages__text {
  margin: 0 0 8px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__list-item {
  position: relative;

  width: 535px;
  margin: 0 0 10px;
  padding: 15px 0 0 56px;

  color: #323232;

  background-repeat: no-repeat;
}

.advantages__list-item--icecream {
  background-image: url("../img/icon-advantages--one.svg");
}

.advantages__list-item--cow {
  background-image: url("../img/icon-advantages--two.svg");
}

.advantages__list-item--leaf {
  background-image: url("../img/icon-advantages--three.svg");
}

.advantages__list-item--thermometer {
  background-image: url("../img/icon-advantages--four.svg");
}

.main-article {
  width: 560px;
  min-height: 220px;
  padding: 25px 20px;

  background-color: #ffffff;
  background-image: url("../img/bg-article.jpg");

  border-radius: 15px;
}

.main-article p {
  margin: 0 0 10px;

  color: #323232;
  font-weight: 500;
}

.main-article a {
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

.main-article h2 {
  max-width: 281px;
  margin: 0;

  font-size: 24px;
}

.mailing {
  width: 560px;
  padding: 5px;
  
  background: #92cdff url("../img/bg-mailing.svg");

  border-radius: 15px;
}

.mailing__wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 20px;

  background-color: #f8f7f4;

  border-radius: 10px;
}

.mailing p {
  margin: 0 0 35px;

  color: #5a5a5a;
}

.mailing__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mailing__form input[type="email"] {
  width: 370px;

  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
}

.mailing__form .button {
  padding: 10px 19px;
}

.map {
  margin: 0 0 18px;

  position: relative;
}

.map__address {
  position: absolute;
  top: 63px;
  right: 27px;

  min-width: 302px;
  padding: 31px 25px;

  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #323232;

  background-color: #ffffff;

  border-radius: 15px;
}

.map__address-street {
  margin: 0 0 22px;
}

.map__address-street b {
  display: block;

  margin-top: 9px;

  font-size: 18px;
  line-height: 24px;
}

.map__address-number {
  margin: 0 0 25px;
}

.map__address-number a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.map__address .button {
  padding: 10px 28px;
}

.callback-popup__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.callback-popup__form-name,
.callback-popup__form-mail,
.callback-popup__form-text {
  line-height: 24px;
  font-weight: 700;
}

.callback-popup__close-button {
  background: url("../img//icon-cross--big.svg") no-repeat 50% 50%;
}

.map__img-wrapper {
  margin: 0;
}

.map__img-wrapper img {
  display: block;

  width: 100%;
}

.modal {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-list {
  display: flex;

  width: 1200px;
  margin: 15px auto 13px;
  padding: 0 27px;

  list-style: none;
}

.breadcrumbs-list__item:not(:last-child) {
  margin: 0 5px 0 0;
}

.breadcrumbs-list__item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-list__item a[href]:hover,
.breadcrumbs-list__item a[href]:focus,
.breadcrumbs-list__item a[href]:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-list__item::after {
  content: '»';
}

.breadcrumbs-list__item--active a {
  border-bottom: 0;
}

.breadcrumbs-list__item--active::after {
  display: none;
}

.main-title {
  width: 1200px;
  margin: 0 auto 30px;
  padding: 0 27px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.filter__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter__form fieldset {
  margin: 0 15px 18px 0;
  padding: 0;

  border: 0;
}

.filter__form legend {
  margin: 0 0 5px;
  padding: 0 0 0 15px;
  
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter__sort select {
  padding: 8px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.filter__sort select:hover,
.filter__sort select:focus {
  color: #323232;
}

.filter__price-controls {
  padding: 8px 22px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.filter__fat-list {
  display: flex;

  margin: 0;
  padding: 8px 14px;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.filter__fat-list li {
  margin: 0 18px 0 0;

  line-height: 18px;
  font-weight: 500;
}

.filter__fat-list li:last-child {
  margin: 0;
}

.filter__fill-list {
  display: flex;

  margin: 0;
  padding: 8px 14px;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.filter__fill-list li {
  margin: 0 18px 0 0;

  line-height: 18px;
  font-weight: 500;
}

.filter__submit-button {
  padding: 7px 27px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: top;
  text-align: center;
  color: #ffffff;

  background-color: #a6b7ad;

  border: 2px solid #ffffff;
  border-radius: 50px;

  cursor: pointer;
}

.filter__submit-button:hover {
  color: #323232;

  background-color: #ffffff;
}

.filter__submit-button:active {
  color: #323232;

  box-shadow: inset 0px 2px 1px 0px #696969
}

.catalog {
  position: relative;
 
  width: 1200px;
  margin: 0 auto 18px;
  padding: 0 27px 30px;
}

.catalog::after {
  position: absolute;
  bottom: 0;

  content: "";
  width: 1146px;
  height: 1px;

  background-color: rgba(252, 253, 252, 0.3);
}

.catalog__list {
  margin-top: -20px;
}

.catalog__pagination-list {
  display: flex;
  justify-content: flex-end;

  margin: 73px 0 0;
  padding: 0;

  list-style: none;
}

.catalog__pagination-item a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27px;
  height: 27px;

  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  border-radius: 50%;
}

.catalog__pagination-item a[href]:hover,
.catalog__pagination-item a[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog__pagination-item--prev a {
  margin: 0 5px 0 0;

  transform: rotate(180deg);

  background-image: url("../img/icon-arrow.svg");
}

.catalog__pagination-item--next a {
  margin: 0 0 0 5px;

  background-image: url("../img/icon-arrow.svg");
}

.catalog__pagination-item--active a {
  color: #323232;

  background-color: #ffffff;
}